<h1>Expeditions List:</h1>
<% if policy(Expedition).new? %>
  <p><%= link_to 'Create Expedition', new_expedition_path, class: 'btn btn-success' %></p>
<% end %>
<% @expedition.each do |expedition| %>
  <h2><%= expedition.title %></h2>
  <p><%= expedition.description %></p>
  <%= link_to 'Show', expedition_path(expedition) %>
<% end %> <br>
<%= link_to 'dom', '#', id: 'dom' %>

<%= render 'shared/slider' %>