<h2>Expedition: "<%= @expedition.title %>" info:</h2>
<h4>Planets:</h4>
<ul>
<% @expedition.itinerary.planets.each do |planet| %>
  <li>
    <%= link_to planet.title, planet_path(planet) %>
    <%= '| distance: ' + planet.distance.to_s %>
  </li>
<% end %>
</ul>
<p><strong>Distance: </strong><%= @expedition.itinerary.distance_length %></p>
<p>Team:</p>
<ul style="list-style-type: none" class="list-group">
<% @expedition.users.each do |user| %>
  <li class="list-group-item">
    <%= image_tag "https://secure.gravatar.com/avatar/#{Digest::MD5.hexdigest user.email}" %>
    <%= user.email %> - <%= user.role %>
  </li>
<% end %>
</ul>
<p>
  <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Spacehips List:
  </a>
</p>
<div class="collapse" id="collapseExample">
    <table class="table table-striped table-bordered table-sm">
      <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
      </thead>
      <tbody>
  <% @expedition.spaceships.each do |spaceship| %>
      <tr>
        <td><%= link_to spaceship.title, spaceship_path(spaceship) %></td>
        <td><%= link_to 'Edit', edit_spaceship_path(spaceship), class: "btn btn-warning" %></td>
        <td><%= button_to 'Delete', spaceship_path(spaceship), class: "btn btn-danger", method: :delete, data: { confirm: 'Are you certain you want to delete this?' } %></td>
      </tr>
  <% end %>
      </tbody>
      </table>
</div>
<div style="text-align:left">
  <div class="row">
    <div class="col-2"><%= link_to 'Add Planets', new_itinerary_entry_path, class: "btn btn-success" %></div>
    <div class="col-2"><%= link_to 'Edit Expedition', edit_expedition_path(@expedition), class: "btn btn-warning" %></div>
    <div class="col-2"><%= link_to 'Delete Expedition', expedition_path(@expedition), class: "btn btn-danger", remote: true, method: :delete, data: { confirm: 'Are you certain you want to delete this?' } %></div>
  </div>
</div>